.move-label {
    margin-left: 5px;
    margin-right: 5px;
}

.card-body {
    padding: 0.1rem;
}

.highlight1-32417, .highlight2-9c5d2 {
    box-shadow:inset 0 0 3px 3px #ffffff
}

.row-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}

.row-button {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 150px;
}

#fillButton {
    width: 250px;
}

.modal-body {
    font-size: 2rem;
}

.bg-light {
    color: black;
}

.card {
    margin: 2px;
}

.modal-content {
    background: #414142;
}

.modal-title {
    font-size: 2rem;
}

.modal-header, .modal-footer {
    border: none;
}

.share-modal-body {
    margin-bottom: 0px;
}

.share-modal-pattern {
    text-align: center;
}

.share-modal-answer {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0px;
}

.close-modal-button {
    color: white;
}

.close:not(:disabled):not(.disabled):hover {
    color: white;
}

.header-p0 {
    padding-bottom: 0px;
}

.modal-instructions {
    font-size: 1rem;
    margin-left: 5px;
}

.instructions-example {
    padding-top: 15px;
}

.instructions-example-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.instructions-example-img {
    max-width: 80%;
}

.instructions-colour {
    max-width: 2rem;
}

.mode-button {
    margin: 0px 10px 20px 10px;
}

.mode-desc {
    margin-bottom: 0px;
    font-size: 0.8rem;
}

.navbar {
    align-items: start;
}

.navbar-brand {
    margin-top: 10px;
    margin-left: 10px;
}

.navbar-header {
    background: #121213;
}

.navbar-title {
    font-size: 3rem;
    font-weight: bold;
}

@media(min-width: 512px) {
    .navbar-title {
        padding-right: 40px;
    }
}

.navbar-main-title {
    width: 100%;
    text-align: center;
}

.navbar-side {
    width: 100px;
}

.navbar-title-sponsor {
    font-size: 1rem;
    font-weight: normal;
}

.navbar-title-sponsor img {
    height: 1.5rem;
    margin-top: -0.25rem;
}

.lock-screen {
    touch-action: none;
}

.move-group {
    display: flex;
}

#errorBox {
    margin-bottom: 0px;
}

#alertBox {
    margin-bottom: 0px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

body {
    background-color: #121213;
    color: white;
}
